<&| /_elements/wrapper, title => "About Hiveminder" &>

<p>You've got a lot to do.  You've got about thirty different "to do" lists in your life, 
at least seven of which are in your head.  There are chores at home, your workplace, 
planning with friends and probably stuff for your hobbies as well. While easily lost scraps 
of paper and magic-markered messages on the back of your hand are their own special brand 
of fun, Hiveminder can help you keep track of all of your lists in one convenient place.
It's also easy to make new lists quickly or to share tasks with anyone in your hive of friends, 
family, and co-workers.  Hiveminder can remind you of your 
tasks as often as you want via email, iCal updates, Atom feeds, plain text files, or even an easy-to-print
HTML file.  Whether you're planning your honeymoon, streamlining your small business, or just 
trying to make it through the semester, Hiveminder has the tools you need to get busy!</p>

<ul class="about_pages">
    <li><%Jifty->web->link( url => '/about/faq.html', label => 'FAQ') %></li>
    <li><%Jifty->web->link( url => '/tour/', label => 'Tour') %></li>
    <li><% Jifty->web->link( url => "/legal/privacy", label => "Your privacy")%></li>
    <li><% Jifty->web->link( url => "/legal/registration", label => "Registration agreement")%></li>
    <li><% Jifty->web->link( url => "/about/team.html", label => "The Team")%></li>
    <li><% Jifty->web->link( url => "/about/thanks.html", label => "Thanks")%></li>
    <li><% Jifty->web->link( url => "/about/technology.html", label => "Technology")%></li>
</ul>

</&>
