/MYMETA.*
/META.yml
/MANIFEST
/MANIFEST.bak
/Makefile
/Makefile.old
/SIGNATURE
/blib/
/inc/
/pm_to_blib
/t/*/mason*/
/var/
/mason*/
*.swp
*.swo
/log/
/t/mailbox_*
/etc/site_config.yml
/.prove
/t/text-file*
/t/todo.pl.conf
/apache_fastcgi/
/test.html
/nytprof.out*
