<&| /_elements/wrapper, 
    title => "News", 
    header_include => q{<link rel="alternate" type="application/atom+xml" href="/news/atom" title="Hiveminder news" />}
    &>
<ul class='feed-list'>
<li> <a title="Atom feed" class="atom" href="/news/atom">Atom</a> </li>
</ul>

% if ( Jifty->web->current_user->id and Jifty->web->current_user->user_object->access_level eq "staff") {
% my $create_news = Jifty->web->new_action(class => 'CreateNews', moniker => "newnews");
<h2>Add a news item</h2>
<% Jifty->web->form->start %>

<% $create_news->form_field('title') %>
<% $create_news->form_field('content') %>
<div class="button_line">
<% Jifty->web->form->submit( label => "Create") %>
</div>
<% Jifty->web->form->end%>
% }

<% Jifty->web->region( name => 'newslist', path => '/fragments/no_auth/news/list') %>

</&>
