h1, h2, h3, h4, h5, h6 {
    /*font-family: "Trebuchet MS", Arial;*/
    font-family: Verdana, sans-serif;
}

h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

#headers {
    padding: 0 0 0 1em;
    margin-top: 3.5em;
    float: left;
}

.nonuser #headers {
    margin-top: 0;
}

/* Logo */

#headers h1.hiveminder {
    padding: 33px 0 0 0;
    width: 180px;
    display: block;
    position: relative;

    background: url(/static/images/hmlogo/default.png) no-repeat;
    text-indent: -9999px;
    margin: 0.3em 0 0 0;

    /* WIN IE5 hack */
    height: 33px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 0;
    overflow: hidden;
}

html>body #headers h1.hiveminder {
    height: 0;
    overflow: hidden;
}

#headers img#protext {
    padding: 0 0 0 140px;
}

/* Page title */

h1.title {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.1em 25px 0 0;
    margin: 0 0 0.5em 0;
    background: url(/static/images/horizontal.flourish.png) no-repeat bottom right;
}

h1.title .subtitle {
    display: block;
    color: #aaa;
    font-size: 0.5em;
    margin-top: -0.3em;
    margin-bottom: 0;
    font-weight: bold;
}

#headers hr {
    display: none;
}

h2, h3, h4, h5, h6 {
    padding: 0.1em 0 0.2em 1em;
    font-weight: normal;
    clear: both;
}

h2, h3 {
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: bold;
    color: #1F4F59;
    border-bottom: 1px solid #888;
    background: #eee;
}

h3 {
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.2em;
    background: none;
    padding-left: 0;
    color: #666;
    border-bottom-color: #aaa;
}

h2.inline {
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    text-align: left;
}

