<%init>
$m->redirect('/mini/todo/') if Jifty->web->current_user->id;
my $action = Jifty->web->new_action(class => 'Login', moniker => 'loginbox' );
</%init>

<&| /mini/_elements/wrapper &>

<div id="login-box">
<h2>Login</h2>
<% Jifty->web->form->start(call => Jifty->web->request->continuation, name => "loginbox") %>
<% $action->form_field('token') %>
<% $action->form_field('address') %>
<% $action->form_field('hashed_password') %>
<% $action->form_field('password') %>
<% $action->form_field('remember') %>
<% Jifty->web->return(to => "/mini/todo", label => 'Login', submit => $action) %>
<% Jifty->web->form->end %>
</div> 
</&>
